.header-home {
  display: flex;
  justify-content: space-between;
}
.navbar-home {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-right: 6rem;
}
.logo-home {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.link-logo-home {
  color: #141414;
  text-decoration: none;
  margin: 2rem 0 1rem 6rem;
  font-family: var(--font-poppins);
}
.link-home {
  color: #000000;
  text-decoration: none;
}
.main-home {
  display: flex;
  gap: 6rem;
  font-size: 3rem;
}
.fotoDePerfil-home {
  border-radius: 2px;
  margin: 3rem 0 2rem 6rem;
}
.paragraph-main-home {
  font-size: 18px;
  color: #4d4d4d;
  margin-left: 0.5rem;
}
.experiencia-home {
  color: #dbdbdb;
}
.description {
  margin-top: 8rem;
}
.experience1 {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-top: 10px;
}
.title-project {
  font-size: 16px;
  font-weight: bold;
}
.description-project {
  font-size: 12px;
}

.footer-home {
  background-color: #141414;
  height: 100vh;
  padding: 1rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.footer-title {
  font-size: 5rem;
}
.footer-description {
  color: #949494;
  margin-top: 5rem;
}
