.header-home {
  display: flex;
  justify-content: space-between;
}
.navbar-home {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.logo-home {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.link-logo-home {
  color: #000000;
  text-decoration: none;
}
.link-home {
  color: #000000;
  text-decoration: none;
}
.main-home {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
}
.fotoDePerfil-home {
  border-radius: 2px;
  margin-top: 2rem;
}
.paragraph-main-home {
  font-size: 18px;
  color: #4d4d4d;
}
.experiencia-home {
  color: #dbdbdb;
}
.description {
  margin-top: 8rem;
}
.experience1 {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-top: 10px;
}
.title-project {
  font-size: 16px;
  font-weight: bold;
}
.description-project {
  font-size: 12px;
}